<iframe src="/player" style="width: 100%;overflow: hidden;" frameBorder="0" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
<script type="text/javascript">
	$(document).ready(function (argument) {
		$('iframe').load(function () {
	        // $(this).height($(this).contents().find('html').height());
	        // $('.modal-dialog').width($('iframe').contents().find('video').width()+10);
	        $(this).height(480);
	        $('.modal-dialog').width(650);
	    });
	})
</script>